* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: auto 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}

.img__img {
  display: flex;
  flex: 0.6;
  height: 100%;
}

.img__img > img {
  width: 100%;
}

section {
  flex: 0.5;
}

@media (max-width: 1000px) {
  main {
    max-width: 19.5em;
  }

  section {
    padding: 1.25em;
  }

  .title__top {
    padding: 0;
  }

  h1 {
    padding: 6px 10 0 0;
  }

  p {
    padding: 1em 0 0;
  }

  .price {
    padding: 1em 0;
  }

  .price__discount {
    padding: 0 0.65em 0 0;
  }
}
@media (min-width: 1000px) {
  main {
    max-width: 35em;
    height: 26em;
    flex-direction: row;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 1.8em;
    width: 100%;
    height: 100%;
  }

  .title__top {
    display: flex;

    padding: 0;
  }

  h1 {
    padding: 0.6em 2em 0 0;
    line-height: 1;
  }
  p {
    padding: 1.6em 0 0 0;
    line-height: 1.5;
  }

  .price {
    padding: 2em 0;
  }

  .price__discount {
    padding: 0 0.65em 0 0;
  }
}

.title__top {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
}

h1 {
  display: flex;
  font-family: "Fraunces", serif;
  font-size: 28px;
}

p {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 1.5;
}

.price {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.price__discount {
  font-family: "Fraunces", serif;
  text-decoration: 700;
  color: hsl(158, 36%, 37%);
}

.price__full {
  color: hsl(228, 12%, 48%);

  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cart__img {
  width: 15px;
  height: 16px;
  margin: 0 0.65em 0 0;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  width: 100%;
  border: none;
  justify-content: center;
  align-items: center;
  height: 3.2em;
  border-radius: 6px;
  transition: all ease 0.3s;
}

button:hover {
  background-color: hsl(158, 36%, 23%);
}

.attribution {
  color: rgb(0, 0, 0);
  display: flex;
  align-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: end;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
